.panel-gettingStarted>.panel-heading {
    border-color: #FDB813;
    background-color: #FDB813;
    color: white;
}
.panel-gettingStarted{
    border-color: #FDB813;
}

.WarningMessage
{
    position: fixed;
    top: 50%;
    left: 50%;
    padding:30px;
    font-size:1.2em;
    font-weight: bold;
    border-radius: 5px;
    z-index: 8000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}